    <footer class="footer-section">
      <div class="main-footer">
          <ul class="#">
              <li class="#">
                <a class="foot-nav" href="{% url 'home' %}">Home</a>
              </li>
              <li class="#">
                <a class="foot-nav" href="{% url 'about' %}">About</a>
              </li>
              <li class="#">
                <a class="foot-nav" href="{% url 'blog' %}">Blog</a>
              </li>
              <li class="#">
                <a class="foot-nav" href="{% url 'contact' %}">Contact</a>
              </li>
          </ul>
      </div>
        <div class="secondary-footer">
          <ul class="#">
            <li class="#">
              <a class="foot-nav" href="https://www.linkedin.com/in/ryan-vaughan-4b32521b7/"><i class="fa-brands fa-linkedin fa-lg"></i></a>
            </li>
            <li class="#">
              <a class="foot-nav" href="https://github.com/RyanOliverV/"><i class="fa-brands fa-github fa-lg"></i></a>
            </li>
      </div>
    </footer>