{% extends "base.html" %}
{% block content %}
<div class="hero-section">
<div class="container">
	<div class="row align-items-center">
		<div class="col">
			<h2 class="text-dark hero-title">Hey! I'm Ryan,</h2>
			<h2 class="text-dark hero-title">a Developer.</h2>
			<p class="hero-text text-muted">MSc Computing student at Cardiff University, with a focus on Software Engineering / Data Analytics.</p>
		</div>

		<div class="col">
				<img class="rounded-start img-fluid" src="https://personal-portfolio-website-files.s3.amazonaws.com/static/media/hero.png" width="600">
				<!--Mono. (2023) Vector concept illustration Programmer. Available at: https://www.vecteezy.com/vector-art/7938815-vector-concept-illustration-programmer-engineer-with-laptop-sitting-at-the-office-desk-holding-a-pen-while-coding-and-developing-flat-cartoon-style -->
		</div>
	</div>
</div>
</div>
{% endblock content %}